<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css"> -->
    <link rel="stylesheet" href="src/assets/sass/style.css">
    <title>Teste HunterCo.</title>
</head>
<body>
    <div class="container-fluid p-0 m-0" id="app">
        <div class="header text-center">
            <h1><strong>HuntersCo.</strong></h1>
            <div class="check">99.9% de disponibilidade: seu site sempre no ar</div>
            <div class="check">Suporte 24h, todos os dias</div>
            <div class="check">Painel de controle cPanel</div>
            <span id="show-down">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 5a.5.5 0 0 0-1 0v4.793L5.354 7.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 9.793V5z"/>
                </svg>
            </span>
        </div>
        <div v-if="loading">Carregando...</div>
        <div  v-else class="content-home d-flex justify-content-center">
            <div class="col-lg-8">
                <div class="text-center  m-3 m-b-1">
                    <span>quero pagar a cada:</span>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="cycle-selector">
                        <label for="">
                            <input type="radio" name="cycle" checked v-model="cycle" value="36">
                            <span>3 anos</span>
                        </label>
                        <label for="">
                            <input type="radio" name="cycle" v-model="cycle" value="12">
                            <span>1 ano</span>
                        </label>
                        <label for="">
                            <input type="radio" name="cycle" v-model="cycle" value="1">
                            <span>1 mês</span>
                        </label>
                    </div>
                </div>
                <div class="swiper-container" v-if="info.products !== null">
                    <div class="swiper-wrapper d-flex justify-content-between justify-content-sm-center flex-wrap" >
                        <div class="swiper-slide" v-for="product in info.products">
                            <div class="card m-2">
                                <div class="card-header text-center">
                                    <input type="hidden" name="id" >
                                    <i>
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-hdd-stack" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M14 10H2a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-1a1 1 0 0 0-1-1zM2 9a2 2 0 0 0-2 2v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-1a2 2 0 0 0-2-2H2z"/>
                                            <path d="M5 11.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm-2 0a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
                                            <path fill-rule="evenodd" d="M14 3H2a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zM2 2a2 2 0 0 0-2 2v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2z"/>
                                            <path d="M5 4.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm-2 0a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
                                        </svg>
                                    </i>
                                    <h3>{{product.name}}</h3>
                                </div>
                                <div class="card-body text-center">
                                    <div class="small price" v-for="period in product.cycle">
                                        <p v-show="period.months == cycle" class="m-0">
                                            <span class="old-price">R$ {{period.priceOrder}}</span>
                                            <span class="new-price">R$ {{period.newPrice}}</span>
                                        </p>
                                    </div>
                                    <p class="m-0">equivalente a</p>
                                    <div class="monthly" v-for="period in product.cycle">
                                        <span class="sign"></span>
                                        <p v-show="period.months == cycle" class="m-0">
                                            <span>R$</span>
                                            <strong>{{period.perMonth}}</strong>
                                            <span>/mês*</span>
                                        </p>
                                    </div>
                                    <button class="hire" @click="hireNow(product.id, cycle)" :data-cycle="cycle" :data-id="product.id">Contrate agora</button>
                                    <p class="domain">1 ano de Domínio grátis</p>
                                    <p v-for="period in product.cycle" class="save-price">
                                        <span v-show="period.months == cycle" >Economize R${{period.savePrice}}</span>
                                    </p>
                                    <span class="tag-save"> 40% OFF</span>
                                </div>
                                <div class="card-footer">
                                    <ul>
                                        <li>Para 1 site</li>
                                        <li><strong>100GB</strong> de armazenamento</li>
                                        <li>Contas de E-mail <strong>ilimitadas</strong></li>
                                        <li>Criador de sites <strong>Grátis</strong></li>
                                        <li>Certificado SSL <strong>Gráts</strong> (HTTPS)</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-prev d-none"></div>
                        <div class="swiper-button-next d-none"></div>
                    </div>
                </div>
                <div v-else class="swiper-slide d-flex justify-content-between flex-wrap" >
                    <div class="text-center error">
                        <span>Error!</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- <script src="node_modules/axios/dist/axios.min.js"></script> -->
    <script src="src/assets/js/app.js" ></script>
</body>
</html>
